$colors: (
  gray-xdark: #636769,
  gray-dark: #6d6e71,
  gray: #929292,
  gray-light: #c5c5c5,
  gray-xlight: #dadbdb,
  black: #000000,
  white: #ffffff,
  green: #73d782,
  teal: #12cb99,
  orange:#fd9950,
  red:#ed4350
);
