.hero {
  @extend %basic-block;

  background-color: -color(gray-light);
  lost-flex-container: column;
}

.hero__background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: -color(green);
}

.hero__image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: -color(orange);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  &.is-current {
    z-index: -z(content);
    background-color: -color(teal);
  }
}

.hero__inner {
  @extend %container;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 77.7rem;
  padding-top: 20rem;
  padding-bottom: 18rem;
  z-index: -z(content);
}

.hero__typewriter {
  margin-bottom: 2.6rem;

  > h1 {
    @include heading-a((
      color: -color(white)
    ));

    display: inline;
  }
}

.hero__caret {
  display: inline-block;
  width: 0.3rem;
  height: 7rem;
  background-color: -color(white);
  position: relative;
  top: 0.4rem;
  margin: 0 2rem;
  animation: 1s blink step-end infinite;
}

.hero__copy {
  @include copy-a((
    color: -color(white)
  ));

  max-width: 77rem;
  margin-bottom: 4.4rem;
}
